@font-face {
  font-family: "HanSans";
  src: url("../fonts/SourceHanSansSC-VF.otf");
}

@font-face {
  font-family: "KumbhSans";
  src: url("../fonts/KumbhSans-Regular.ttf");
}

:root,
body {
  $lym-color-white: #fff;
  $lym-color-black: #000;
  $lym-color-background-highlight: #f0e498;
  $lym-color-dark-grey: #4e4e4e;
  $lym-background-dark: #1b1b1b;
  $lym-background-light: #fff;
  $lym-background-light-grey: #e2e2e2;
  $icon-secondary: #b3b3b3;
  $text-primary: #1b1b1b;
  $text-secondary: #4e4e4e;
  $text-active: #858585;
  $text-inactive: #9e9e9ea6;
  $text-link: #0069c2;
  $text-visited: #551a8b;
  $text-invert: #fff;
  $background-primary: #fff;
  $background-secondary: #f9f9fb;
  $background-tertiary: #fff;
  $background-toc-active: #ebeaea;
  $background-mark-yellow: rgba(199, 183, 0, 0.4);
  $background-mark-green: rgba(0, 208, 97, 0.4);
  $background-information: rgba(0, 133, 242, 0.1);
  $background-warning: rgba(255, 42, 81, 0.1);
  $background-critical: rgba(211, 0, 56, 0.1);
  $background-success: rgba(0, 121, 54, 0.1);
  $border-primary: #cdcdcd;
  $border-secondary: #cdcdcd;
  $category-color: #0085f2;
  $category-color-background: #0085f210;
  $shadow-01: 0 1px 2px rgba(43, 42, 51, 0.05);
  $shadow-02: 0 1px 6px rgba(43, 42, 51, 0.1);
  $photography-accent-color: #d30038;
  $swimming-accent-color: #0069c2;
  $flower-accent-color: #afa100;
  $badminton-accent-color: #007936;
  $music-accent-color: #6a81c0;
  $sprots-accent-color: #dacb6d;
  $book-accent-color: #6bc480;
  $icon-primary: #696969;
  $elem-radius: 0.25rem;
  $gutter: 1rem;
  $top-nav-height: 4rem;
  $max-width: 1000px;
}

:root {
  $font-fallback: "HanSans", "微软雅黑", "KumbhSans", sans-serif,
    "Times New Roamn", Arial, "Comis Sans MS";
  $font-content-line-height: 1.75;
  $font-body-strong-weight: 600;
  $type-smaller-font-size: 0.773rem;
  $font-base-size: 16px;
}

@media screen and (min-width: 1200px) {
  body {
    $max-width: 100%;
  }
}
